version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4

jobs:
  build:
    docker:
      - image: cirrusci/flutter:stable
    steps:
      - checkout
      - run: scripts/run_ci.sh packages/flutter_stream_listener
      - run: scripts/run_ci.sh packages/stream_listener
